body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
html {
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.back {
    background-image: url(./Images/pexels-free-nature-stock-1376766.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Mobile*/
@media only screen and (max-width: 625px) {
    .headercontent2 {
        display: none;
    }
    #mobile {
        display: flex;
        margin-top: 4%;
        padding-right: 15px;
    }
    .mobile img {
        padding-right: 15px;
    }
}
.mobile {
    display: none;
}
header {
    scroll-snap-align: center;
}
.content1 {
    scroll-snap-align: center;
}
.content2 {
    scroll-snap-align: center;
}
@font-face {
    font-family: "Kdam";
    src: url(./Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf) format("woff2");
}
@font-face {
    font-family: "Bebas";
    src: url(./Bebas_Neue/BebasNeue-Regular.ttf) format("woff2");
}
@font-face {
    font-family: "Nanum";
    src: url(./Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf) format("woff2");
}
@font-face {
    font-family: "Star";
    src: url(./Starwars/star-wars.ttf) format("woff2");
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
}

.headercontent1 {
    z-index: 2;
    margin-top: 4%;
    padding-left: 10px;
}
.headercontent2 {
    z-index: 2;
    font-family: "Star";
    letter-spacing: 2px;
    margin-top: 4%;
    padding-right: 15px;
}

.headercontent1 img {
    width: 3.8rem;
    
}
.headercontent2 a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #cea2fd;
    padding-right: 5px;
    word-spacing: -7px;
} 
.headercontent2 a:hover {
    color: white;
    cursor: pointer;
}
.headercontent2 a:active {
    color: #6f4685;
    
}
/*Main*/

main {
    max-width: 1500px;
    margin: auto;
    margin-top: 450px;
}

/*Content0*/
.content0 {
    color: white;
    font-size: 2.3rem;
    padding-left: 10px;
    font-family: "Star";
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
}
#h55 {
    padding-top: 0px;
    margin-top: 0px;
}
.content0text {
    display: flex;
    flex-wrap: wrap;
    
}
.content0text div {
    padding-right: 15px;
    
}
.animated-text {
    opacity: 0;
    animation: fadeIn 4s forwards;
    animation-delay: 0.7s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*content01*/
.content01 {
    color: white;
    margin-top: 500px;
    letter-spacing: 2px;
    font-family: "Star";
    padding-left: 10px;
    
}
.content01 h3 {
    margin: 0px;
    font-size: 1.5vw;
    padding-top: 20px;
}
/*content1*/
.content1 {
    display: flex;
    justify-content: space-around;
    
    
}
.mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.button a {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "Bebas";
    letter-spacing: 2px;
    text-decoration: none;
    color: inherit;
}
.button {
    width: 70px;
    border: 2px solid #645394;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #9e7bb5;
    box-shadow: 6px 6px 7px 1px rgba(0, 0, 0, 0.28);
    color: white;
}
.button:hover {
    cursor: pointer;
    background-color: white;
    color: #9e7bb5;

}
.button:active {
    background-color: #6f4685;
    color: white;
    border: 2px solid #392A48;
}
.imgp {
    height: 70%;
    width: 80%;
    border-radius: 15px;
    opacity: 0.9;
    border: 2px solid #A9A9A9;
    box-shadow: 6px 6px 7px 1px rgba(0, 0, 0, 0.28);
}

/*content2*/
.content2 h3 {
    color: white;
    margin: 10px;
    font-size: 1.5vw;
    letter-spacing: 2px;
    
}
.content2 a {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Star";
}
.content2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 400px;
    font-family: "Star";
    color: white;
}
.content2 section {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.name {
    margin: 0 auto;
    width: 50%;
}
.email {
    margin: 0 auto;
    width: 50%;
}
.phone {
    margin: 0 auto;
    width: 50%;
}
.info {
    margin: 0 auto;
    width: 70%;
}
input, textarea {
    
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid #645394;
    border-radius: 5px;
    background-color: #9e7bb5;
    box-shadow: 6px 6px 7px 1px rgba(0, 0, 0, 0.28);
}
.buttonsend {
    border: 2px solid #645394;
    border-radius: 20px;
    padding: 10px 15px; 
    width: 70px;
    margin: 0 auto;
    background-color: #9e7bb5;
    box-shadow: 6px 6px 7px 1px rgba(0, 0, 0, 0.28);
    text-shadow: none;
    margin-top: 15px;
    font-size: 20px;
    
    color: white;
}
#buttonsend {
    font-family: "Bebas";
}
#sendbutton {
    font-family: "Bebas";
}
.buttonsend:hover {
    cursor: pointer;
    background-color: white;
    color: #9e7bb5;

}
.buttonsend:active {
    background-color: #6f4685;
    color: white;
    border: 2px solid #392A48;
}
/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    max-width: 1700px;
    margin: auto;
    height: 200px;
    align-items: center;
    margin-top: 200px;
}
footer h5 {
    color: #7A6A70;
    font-family: "Nanum";
    letter-spacing: 2px;
    
}
.fh5l {
    padding-left: 5px;
}
.fh5r {
    padding-right: 5px;
}

/*Media*/
@media screen and (max-width: 1024px) {
    .content0 {
        font-size: 50px;
    }
    .content2 h3 {
       font-size: 23px; 
    }
    .content2 a {
        font-size: 20px;
    }
    .content01 h3 {
    font-size: 23px; 
    }
    footer {
        margin-top: 50px;
    }
    .buttonsend a {
        font-size: 20px;
        font-family: "Bebas";
    }
}
@media screen and (max-width: 1024px) {
    .content0 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .content0 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 425px) {
    .content0 {
        font-size: 1.0rem;
    }
    .content2 h3 {
       font-size: 20px; 
    }
    .content2 a {
        font-size: 15px;
    }
    main {
        margin-top: 100px;
    }
    .content01 {
        margin-top: 150px;
    }
    .content2 {
        margin-top: 150px;
    }
    .button a {
        font-size: 15px;
    }
    .button {
        padding: 8px 12px;
    }
    .buttonsend a {
        font-size: 15px;
    }
    .buttonsend {
        padding: 8px 12px;
    }
    .content01 h3 {
        font-size: 20px; 
    }
    footer h5 {
        font-size: 10px;
    }
    footer {
        height: 100px;
    }
}
@media screen and (max-width: 375px) {
    .content0 {
        font-size: 0.75rem;
    }
    
}
@media screen and (max-width: 320px) {
    .content0 {
        font-size: 0.6rem;
    }
    .content2 h3 {
        font-size: 17px; 
     }
     .content2 a {
         font-size: 16px;
     }
     .button a {
        font-size: 12px;
    }
    .button {
        padding: 6px 8px;
    }
    .buttonsend a {
        font-size: 12px;
    }
    .buttonsend {
        padding: 6px 8px;
    }
    .content01 h3 {
        font-size: 17px; 
    }
    
}